
@{
    ViewBag.Title = "ProductChartBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductChartBar</h2>

<div class="container">
    <div class="row">
        <div class="col-4">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>




















@section MyScripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>



        var settings = {
            "url": "https://localhost:44336/ProductAPI/GetAllProductsChart?count=4&sortOrder=Desc",
            "method": "GET",
            "timeout": 0,
        };

        $.ajax(settings).done(function (products) {


            // select back end <=> map front end
            let names = products.map(x => x.Name);
            let quantities = products.map(x => x.Quantity);


            const labels = names;
           

            const data = {
                labels: labels,
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: quantities,
                }]
            };

            const config = {
                type: 'bar',
                data: data,
                options: {}
            };
            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        });














        
    </script>

   



}